{% extends 'base.html' %}

{% block content%}
<h2>Create a new Measurement</h2>

<form action="" method="post">
  {% csrf_token %}
  {{form.as_p}}
  <button class="btn btn-primary">Create Measurement</button>
</form>

<h1>These are the Measurements</h1>
{% if measurements%}
<div class= 'row'>
  {% for measurement in measurements %}
  <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Name: {{measurement.name}} </h5>
        <h5 class="card-title">Amount of Kilo: {{measurement.amount_per_kilo}} </h5>

        {% if user.is_superuser%}
        <form action="{%url 'delete_measurement' measurement.id %}" method="post">
          {% csrf_token %}
          
          <button class="btn btn-danger">Delete Measurement</button>
        </form>
        {% endif %}

        <p></p>
      </div>
    </div>
  {% endfor %}
  
  </div>
  {% endif %}
{% endblock %}