{% extends 'base.html' %}

{% block content%}
{% if user.is_superuser%}
<h2>Create a new Dish</h2>

<form action="" method="post" class="px-4 py-3">
  {% csrf_token %}
  {{form.as_p}}
  <button class="btn btn-success">Create Dish</button>
</form>
{% endif %}
<h1>These are the Dishs</h1>
{% if courses%}
<div class= 'row'>
{%for course in courses%}
<h3>{{course.name}}'s</h3>

{% for dish in course.dish_set.all %}
  <div class="card" style="width: 28rem;">
      <div class="card-body">
        <h5 class="card-title">Name: {{dish.name}} </h5>
        <p class="card-text">Price: {{dish.price}}</p>
        <p class="card-text">Description: {{dish.description}}</p>
        {% if user.is_superuser%}

        <p class="card-text">Cost: {{dish.cost}}</p>
        <p class="card-text">ingrediants: {% for s in dish.measurement.all %}{{s.ingrediant.name}} sd {% endfor %}</p>
        {% endif %}
        {% if user.is_authenticated%}
        <form action="{% url 'singular' dish.id%}" method="post">
          {% csrf_token %}
          {{form2.as_p}}
          <button class="btn btn-primary">Add to Cart</button>
        </form>
        {% endif %}

        {% if user.is_superuser%}
        <p></p>
        <form action="{%url 'delete_dish' dish.id %}" method="post">
          {% csrf_token %}
          
          <button class="btn btn-danger">Delete Dish</button>
        </form>
        {% endif %}

        
      </div>   
    </div>
   
  {% endfor %}
{% endfor%}
{% endif %}
{% endblock %}