{% extends 'base.html' %}

{% block content%}
<h2>Create a new bills</h2>

<form action="" method="post">
  {% csrf_token %}
  {{form.as_p}}
  <button class="btn btn-success">Create Bill</button>
</form>

<h1>These are the bills</h1>
{% if bills%}
<div class= 'row'>
  {% for bill in bills %}
  <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Name: {{bill.name}} </h5>
        <p class="card-text">Type: {{bill.tipe.name}}</p>
        <p class="card-text">Date-Inputed: {{bill.date_created}}</p>

        <li><a  href="{% url 'bill' bill.id %}">This Bill</a></li>
        {% if user.is_superuser%}
        <li><a  href="{% url 'update_bill' bill.id %}">Update This Bill</a></li>

        {% endif %}
        <p></p>
      </div>
    </div>
  {% endfor %}
  
  </div>
  {% endif %}
{% endblock %}