{% extends 'base.html'%}



{% block content %}
<h2>This is the bill</h2>

<div class='row'>
    <ul class="list-group">
        <li class="list-group-item"><a  href="{% url 'all_bills'%}">All Bills</a></li>

        <li class="list-group-item">Name: {{object.name}} </li>
        <li class="list-group-item">Type: {{object.tipe.name}}</li>
        <li class="list-group-item">Cost: {{object.cost}}</li>
        <li class="list-group-item">Date-Inputed: {{object.date_created}}</li>

        {% if object.pdf %}
        <li class="list-group-item">Pdf -{{object.pdf}}</li>
        {% endif %}
      </ul>
   
</div>
{% endblock %}