{% extends 'base.html'%}



{% block content %}
<h2>This is the post</h2>

<div class='row'>
    <ul class="list-group">
        <li><a  href="{% url 'all_bills'%}">All Bills</a></li>

        <li class="list-group-item">Name: {{object.singular.card.name}} </li>
        <li class="list-group-item">Type: {{bill.tipe.name}}</li>
        <li class="list-group-item">Created: {{bill.date_created}}</li>
        <li class="list-group-item">Owner {{object.singular.owner.user.first_name}}</li>

        {% if object.response_set.all %}
        
        <hr>
        <li class="list-group-item">OFFERs</li>
        {% for response in object.response_set.all%}
        {%if response.status == 'P' %}
        <li class="list-group-item">Name: {{response.card_buyer.card.name}}</li>
        <li class="list-group-item">Money!: {{response.amount}}</li>

        <li class="list-group-item">Name: {{response.card_buyer.card.name}}</li>
        <li class="list-group-item">Rarity: {{response.card_buyer.card.rarity}}</li>
        <li class="list-group-item">Type: {% for tp in response.card_buyer.card.tipe.all %} {{tp}}{% endfor %}</li>
        <li class="list-group-item">Owner {{response.buyer.user.first_name}}</li>
        {% if response.post.profile == me %}
        <li><a  href="{% url 'answer' response.id %}">Accept?</a></li>
        <p>y</p>
        {% endif %}
        <p></p>
        {% endif %}
        {% endfor %}
        {% endif %}     
      </ul>
   
</div>
{% endblock %}